p::first-letter{
    font-size: 40px;
/*  it is used to change the 
first latter of all the paraggraph */

}

p::selection
{
/* it csn change the colorand background of selection element  (paragraph) */


color: rgb(53, 6, 6);
background-color: aliceblue;
}