h1{
    color: blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

p{

    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: blue;
}

.my{
    color: brown;
}
#re{
    color: chartreuse;
}
