
h1{
    
    background-color: rgb(156, 158, 148);
    
    padding-left: 300px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 30;

}

section{
    border: 2PX SOLID #666;
    padding: 10px;
}

.MANISH{
    margin-top: 30px;
}

SECTION H3{
    text-transform: uppercase;
}

.ANISH{
    width: 1400px;
    
    margin: 0 auto;
}

