.cl{
    border: 5px solid rgb(34, 5, 5);
    padding: 56px;
    display: flex;
   flex-wrap: wrap;
   /* flex -wrap */
   flex-direction:row;
   /*  THE FLEX  direction is used to change the item content   usine the colom and row and row-reverse  nad colomn-rev */
   margin: 34px;

    
}
.CPP{
    align-self: flex-start ;
    width: 20PX;
   
    
}
.cl1{
    border: 2px solid rgb(97, 187, 18);
    background-color: rgb(159, 47, 15);
    order: 0;
    /* ORDER DESIDE THE POSSITION OF ITEM CONTENT ACCORDING TO THAT 'E ORDER VALUE IN ASSENDING ORDER  */

}

.cl2{
    border: 2px solid rgb(194, 134, 92);
    background-color: blue;
    order:1;
}
.cl3{
    order: 02;
    border: 2px solid red;
    background-color: rgb(178, 25, 153);
}
.cl4{
    order: 3;
    border: 2px solid rgb(64, 174, 34);
    background-color: rgb(49, 163, 163);
}
.cl5{
    order: 4;
    border: 2px solid rgb(180, 188, 25);
    background-color: rgb(126, 15, 31);
}